main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grille-lettres {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    margin: 20px;
  }
  
  .case {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    background-color: white;
  }

  #clavier {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ligne {
    display: flex;
    gap: 6px;
}

.touche {
    background-color: #eee;
    border: none;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.touche:hover {
    background-color: #ddd;
}

.touche:active {
    transform: scale(0.95);
}

.touche-action {
    padding: 12px 18px;
    background-color: #d1d5db;
}

.case_valide {
  background-color: green;
}
.case_place{
  background-color: orange;
}
.case_wrong{
  background-color: rgb(27, 27, 27);
}


.case_wrong {
  background-color: gray;
} 